<div class="main d-flex justify-content-center w-100">
    <main class="content d-flex p-0">
        <div class="container d-flex flex-column">
            <div class="row h-100">
                <div class="col-sm-10 col-md-8 col-lg-6 mx-auto d-table h-100">
                    <div class="d-table-cell align-middle">

                        <div class="text-center mt-4">
                            <h1 class="h2">Sign In</h1>
                            <p class="lead">
                                Sign in to your account to continue
                            </p>
                        </div>

                        <div class="card">
                            <div class="card-body">
                                <div class="m-sm-4">
                                    <!-- <div class="text-center">
                                        <img src="assets/img/nuevas_logo.jpg" alt="Chris Wood"
                                            class="img-fluid rounded-circle" width="132" height="132" />
                                    </div> -->
                                    <form [formGroup]="loginForm"  (ngSubmit)="login2()">
                                        
                                        <div class="mb-3" *ngIf="errorShow">
                                        <div class="alert alert-danger alert-outline-coloured alert-dismissible" role="alert" >
											<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
											<div class="alert-icon">
												<i class="far fa-fw fa-bell"></i>
											</div>
											<div class="alert-message">
												 {{errorMsg}}
											</div>
										</div>
                                        </div>
                                        <div class="mb-3">
                                            <div class="form-group">
                                                <label class="form-label">Email</label>
                                                <input class="form-control" type="email"
                                                    formControlName="email" placeholder="e.g username@mydomain.com" autofocus/>
                                            </div>
                                            <span style="color: red; margin-top: 20px;" *ngIf="email && email.invalid && email.touched">Email is required</span>
                                            <!-- <div  class="text-danger">Email is required
                                            </div>
                                            <div  class="text-danger">Please Enter Valid
                                                Email</div> -->
                                        </div>

                                
                                        <div class="mb-3">

                                            <div class="form-group">
                                                <label class="form-label">Password</label>
                                                <div class="input-group">
                                                  <input
                                                    [type]="fieldTextType ? 'text' : 'password'"
                                                    class="form-control"
                                                    formControlName="password"
                                                    placeholder="******"
                                                  />
                                                  <span class="input-group-text">
                                                    <!-- [ngClass]="{
                                                        'fa-eye-slash': !fieldTextType,
                                                        'fa-eye': fieldTextType
                                                      }" -->
                                                    <i
                                                      class="fa"
                                                      [ngClass]="{
                                                        'fa-eye-slash': !fieldTextType,
                                                        'fa-eye': fieldTextType
                                                      }"
                                                      (click)="toggleFieldTextType()"
                                                    ></i>
                                                  </span>
                                                </div>
                                              </div>


                                            <!-- <div  class="text-danger">Password is
                                                required</div>
                                            <div  class="text-danger">Password
                                                must be at least 6 characters</div> -->
                                                <span style="color: red;" *ngIf="password && password.invalid && password.touched">Password is required</span>
                                                
                                        </div>
                                        <div class="mb-3">
                                            
                                            <a style="color: blue;"  >Forgot password?</a><br>

                                            <a style="color: blue;"  >Reset password?</a><br>

                                            <!-- <a [routerLink]="['/otp_validate']" [state]="{ id:1 , name:'Angular'}" [ngStyle]="{'pointer-events':(f.email.errors?.required || f.email.errors?.email) ? 'none' : 'stroke' }">Reset password?</a><br> -->

                                            <p class="login-wrapper-footer-text">Don't have an account? <a style="color: blue;" routerLink="/registration">Register here</a></p>

                                            
                                        </div>
                                       
                                        <div class="text-center mt-3">
                                            <button type="submit" class="btn btn-primary" >Sign in

                                            <!-- <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">Sign in -->
                                                <!-- <div class="spinner-border text-info me-2" role="status" *ngIf="loading" >
                                                    <span class="sr-only">Loading...</span>
                                                </div> -->
                                                <div class="spinner-border spinner-border-sm text-warning me-2" role="status" *ngIf="loading">
                                                    <span class="sr-only">Loading...</span>
                                                </div>
                                            </button>&nbsp;
                                            
                                         
                                            
                                        </div>
                                        <!-- <button [disabled]="loading" class="btn btn-primary">
                                           
                                            Login
                                        </button> -->
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
